.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 170px 0;
}

.main-section {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

td:first-child:hover {
    cursor: auto;
}