.banner {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.banner h3 {
    padding: 0 25px;
    color: #005f7d;
    align-items: center;
}

.banner i {
    color: #005f7d;
}

.border {
    margin: 80px auto;
    border-top: 8px dotted rgb(59, 207, 147, 0.4);
    width: 90%
}

.information-section {
    text-align: center;
    margin: 50px auto;
    line-height: 30px;
}

.information {
    border-radius: 15px;
    text-align: center;
    margin: 50px;
}

.information-header {
    display: block;
    text-align: center;
    box-shadow: none;
}

.information-header h2 {
    color: #3bcf93;
    font-size: 30px;
}

.information-content {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.donation-header {
    justify-content: center;
    box-shadow: none;
}

.information.campaign-creation {
    border: 4px solid #ffbf46;
    background: rgb(255, 191, 70, 0.2);
}

.information.campaign-creation i {
    color: #ffbf46;
    margin-right: 10px;
}

.information.campaign-creation h4 {
    color: #ffbf46;
    font-size: 25px;
}

.information.donation {
    border: 4px solid #005f7d;
    background: rgb(0, 95, 125, 0.2);
}

.information.donation i {
    color: #005f7d;
    margin-right: 10px;
}

.information.donation h4 {
    color: #005f7d;
    font-size: 25px;
}

.donation-content {
    padding: 0 30px 30px 30px;
}

