<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Search Campaign</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/campaigns.css">
</head>
<body>
<header th:replace="~{fragments/navigation-bar.html :: header}"></header>

<section class="introduction">
    <h1>Нашите кампании</h1>
    <p>
        Подайте ръка и дарете доброта!
    </p>
    <p>
        Потърсете в нашите кампании и помогнете на тези в нужда!
    </p>
</section>

<section class="filters">
    <form class="spark-filter-form" th:action="@{/campaigns}" th:method="GET" th:object="${filterData}">
        <label for="location">
            <i class="fa-solid fa-location-dot fa-2xl"></i>
            <input type="text" placeholder="Локация" id="location" name="location" th:field="*{location}">
        </label>
        <label for="type">
            <i class="fa-solid fa-puzzle-piece fa-2xl"></i>
            <select name="type" id="type" th:field="*{type}">
                <option value="" selected="selected">Вид</option>
                <option th:value="${T(app.campaign.model.CampaignType).LABOR}">Дарение на труд</option>
                <option th:value="${T(app.campaign.model.CampaignType).THINGS}">Дарение на вещи</option>
                <option th:value="${T(app.campaign.model.CampaignType).FOOD}">Дарение на храна</option>
                <option th:value="${T(app.campaign.model.CampaignType).SERVICES}">Дарение на услуги</option>
            </select>
        </label>
        <label for="status">
            <i class="fa-solid fa-heart-pulse fa-2xl"></i>
            <select name="status" id="status" th:field="*{status}">
                <option value="" selected="selected">Статус</option>
                <option th:value="${T(app.campaign.model.CampaignStatus).ACTIVE}">Активна кампания</option>
                <option th:value="${T(app.campaign.model.CampaignStatus).CLOSED}">Затворена кампания</option>
                <option th:value="${T(app.campaign.model.CampaignStatus).CANCELLED}">Прекратена кампания</option>
            </select>
        </label>
        <label for="creator">
            <i class="fa-solid fa-user-group fa-2xl"></i>
            <input type="text" placeholder="Създател" id="creator" th:field="*{creator}">
        </label>
        <button class="btn" type="submit">Търси</button>
    </form>
</section>
<main class="main">
    <section class="campaigns">
        <article class="campaign" th:if="${campaignsPage.totalPages > 0}" th:each="campaign : ${campaignsPage.content}">
            <header class="campaign-header">
                <span th:if="${campaign.type.name() == 'LABOR'}">Труд</span>
                <span th:if="${campaign.type.name() == 'SERVICES'}">Услуги</span>
                <span th:if="${campaign.type.name() == 'FOOD'}">Храна</span>
                <span th:if="${campaign.type.name() == 'THINGS'}">Вещи</span>
                <h3 th:text="${campaign.title}"></h3>
            </header>
            <article class="campaign-details">
                <span class="campaign-detail">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span th:text="${#temporals.format(campaign.startDate, 'dd.MM.yyyy')}"></span>
                </span>
                <span class="campaign-detail">
                    <i class="fa-solid fa-stopwatch"></i>
                    <span th:with="duration=${T(app.util.DateUtil).getDateTimeDiffInHours(campaign.startDate, campaign.startTime, campaign.getEndDate(), campaign.endTime)}"
                          th:text="${duration < 24 ? (duration > 1 ? duration + ' часа' : duration + ' час') : (T(app.util.DateUtil).getDays(duration) > 1 ? T(app.util.DateUtil).getDays(duration) + ' дни' : '1 ден')}"></span>
                </span>
                <span class="campaign-detail"
                      th:if="${campaign.type.name() == 'LABOR' || campaign.type.name() == 'SERVICES'}">
                    <i class="fa-solid fa-user-group"></i>
                    <span th:text="${campaign.peopleNeeded > 1 ? campaign.peopleNeeded + ' човека' : campaign.peopleNeeded + ' човек'}"></span>
                </span>
                <span class="campaign-detail" th:if="${campaign.type.name() == 'FOOD'}">
                    <i class="fa-solid fa-utensils"></i>
                    <span th:text="${campaign.foodNeeded}"></span>
                </span>
                <span class="campaign-detail" th:if="${campaign.type.name() == 'THINGS'}">
                    <i class="fa-solid fa-shirt"></i>
                    <span th:text="${campaign.thingsNeeded}"></span>
                </span>
                <span class="campaign-detail">
                    <i class="fa-solid fa-location-dot"></i>
                    <span th:text="${campaign.location}"></span>
                </span>
            </article>
            <footer class="campaign-footer">
                <article>
                    <a th:href="@{'/campaign/' + ${campaign.id}}" class="btn">Към кампанията</a>
                </article>
                <article class="campaign-time-left">
                    <span th:text="${'Остават ' + T(app.util.DateUtil).getDateDiffFromNowInDays(campaign.startDate) + ' дни'}"></span>
                </article>
            </footer>
        </article>
        <section class="campaign-not-found" th:unless="${campaignsPage.totalPages > 0}">
            <h3>Няма намерени резултати за това търсене!</h3>
        </section>
    </section>
    <nav th:if="${campaignsPage.totalPages > 0}" class="pagination-nav">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                                     th:href="@{'/campaigns?' + ${filterData.toQueryString()}(page=${pageNumbers.first})}"><i
                    class="fas fa-angle-double-left"></i></a></li>
            <li th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageNumber==(campaignsPage.number + 1)} ? 'page-item page-active' : 'page-item'">
                <a th:href="@{'/campaigns?' + ${filterData.toQueryString()}(page=${pageNumber})}"
                   th:text="${pageNumber}"
                   class="page-link"></a>
            </li>
            <li class="page-item"><a class="page-link"
                                     th:href="@{'/campaigns?' + ${filterData.toQueryString()}(page=${pageNumbers.last})}"><i
                    class="fas fa-angle-double-right"></i></a></li>
        </ul>
    </nav>
</main>

<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>