<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>HelpHands</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<header th:replace="~{fragments/navigation-bar.html :: header}"></header>

<section class="introduction">
    <h1>HelpHands</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
    </p>
</section>

<section class="filters">
    <label for="location">
        <i class="fa-solid fa-location-dot fa-2xl"></i>
        <input type="text" placeholder="Локация" id="location">
    </label>
    <label for="type">
        <i class="fa-solid fa-puzzle-piece fa-2xl"></i>
        <select name="type" id="type">
            <option value="" selected="selected">Вид</option>
            <option th:value="${T(app.campaign.model.CampaignType).LABOR}">Дарение на труд</option>
            <option th:value="${T(app.campaign.model.CampaignType).THINGS}">Дарение на вещи</option>
            <option th:value="${T(app.campaign.model.CampaignType).FOOD}">Дарение на храна</option>
            <option th:value="${T(app.campaign.model.CampaignType).SERVICES}">Дарение на услуги</option>
        </select>
    </label>
    <label for="status">
        <i class="fa-solid fa-heart-pulse fa-2xl"></i>
        <select name="type" id="status">
            <option value="" selected="selected">Статус</option>
            <option th:value="${T(app.campaign.model.CampaignStatus).ACTIVE}" selected>Активна кампания</option>
            <option th:value="${T(app.campaign.model.CampaignStatus).CLOSED}">Затворена кампания</option>
            <option th:value="${T(app.campaign.model.CampaignStatus).CANCELLED}">Прекратена кампания</option>
        </select>
    </label>
    <label for="creator">
        <i class="fa-solid fa-user-group fa-2xl"></i>
        <input type="text" placeholder="Създател" id="creator">
    </label>
</section>

<section class="campaigns">
    <article class="campaign">
        <header class="campaign-header">
            <span>
                Труд
            </span>
            <h3>
                Помощ за почистване на Витоша
            </h3>
        </header>
        <article class="campaign-details">
            <span class="campaign-detail">
                <i class="fa-solid fa-calendar-days"></i>
                16 август 2025
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-stopwatch"></i>
                4 часа
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-user-group"></i>
                10 човека
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-location-dot"></i>
                гр. София
            </span>
        </article>
        <footer class="campaign-footer">
            <article>
                <button class="btn" onclick="location.href='visitCampaign.html'">Към кампанията</button>
            </article>
            <article class="campaign-time-left">
                <span>Остава 1 ден</span>
            </article>
        </footer>
    </article>
    <article class="campaign">
        <header class="campaign-header">
            <span>
                Услуги
            </span>
            <h3>
                Правна помощ за дом за деца
            </h3>
        </header>
        <article class="campaign-details">
            <span class="campaign-detail">
                <i class="fa-solid fa-calendar-days"></i>
                16 август 2025
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-stopwatch"></i>
                2 часа
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-user-group"></i>
                1 човек
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-location-dot"></i>
                Онлайн
            </span>
        </article>
        <footer class="campaign-footer">
            <article>
                <button class="btn" onclick="location.href='visitCampaign.html'">Към кампанията</button>
            </article>
            <article class="campaign-time-left">
                <span>Остават 30 дни</span>
            </article>
        </footer>
    </article>
    <article class="campaign">
        <header class="campaign-header">
            <span>
                Храна
            </span>
            <h3>
                Дом за възрастни хора - Нужда от храна
            </h3>
        </header>
        <article class="campaign-details">
            <span class="campaign-detail">
                <i class="fa-solid fa-calendar-days"></i>
                до 16 август 2025
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-utensils"></i>
                Хляб, ориз, леща и др.
            </span>
            <span class="campaign-detail">
                <i class="fa-solid fa-location-dot"></i>
                гр. Перник
            </span>
        </article>
        <footer class="campaign-footer">
            <article>
                <button class="btn" onclick="location.href='visitCampaign.html'">Към кампанията</button>
            </article>
            <article class="campaign-time-left">
                <span>Остават 10 дни</span>
            </article>
        </footer>
    </article>
</section>

<section class="border"></section>

<section class="information-section">
    <header class="information-header">
        <h2>Повече информация</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
    </header>
    <article class="information-content">
        <article class="information campaign-creation">
            <header class="donation-header">
                <i class="fa-solid fa-heart-circle-plus fa-2xl fa-beat"></i>
                <h4>За търсещите помощ</h4>
            </header>
            <article class="donation-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <a th:href="@{/campaign/new}" class="btn">Създай кампания</a>
            </article>
        </article>

        <article class="information donation">
            <header class="donation-header">
                <i class="fa-solid fa-hand-holding-heart fa-2xl fa-beat"></i>
                <h4>За дарителите</h4>
            </header>
            <article class="donation-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <a th:href="@{/}" class="btn">Кандидатствай за кампания</a>
            </article>
        </article>
    </article>
</section>

<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>